html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video, input, textarea, button {

    font-family: 'Raleway', sans-serif;
}
body {
	background: #FAFAFA;
  padding-bottom: 5rem;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0);
  outline: 0 none;
}
.my-form {
	background-color: #fff;
	width: 100%;
	border-radius: 20px;
	padding: 40px 70px;
	-webkit-box-shadow: 1px 0px 3px 0px rgba(224,224,224,1);
	-moz-box-shadow: 1px 0px 3px 0px rgba(224,224,224,1);
	box-shadow: 1px 0px 3px 0px rgba(224,224,224,1);

}
.my-form small {
	font-size: 12px;
}
input:hover, input:focus, input:active {
	box-shadow: none;

}
.my-form .in-line input {
    border: 1px solid #d4d4d4;
    border-color: #d4d4d4;
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
}
.my-form .in-line .input-group-text {
	background-color: transparent;
	border-color: #797878;
}
input[type="text"]::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}

input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}
.card-here img{
	width: 100px;
}

.milestone_price h1 {
	font-size: 16px;
}
.milestone_price2 h1 {
	font-size: 14px;
	color: #a9a9a9;
}
.touch-bottom {
    position: absolute;
    width: 92%;
    bottom: 0px;
    padding: 0px 10px;
}
.monthly h1 {
  padding: 30px 10px 10px;
  font-size: 16px;
  color: #20d59e;
}
.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 500;
}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
  background-color: #a9a9a9;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li.is-active {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #20d59e;
  z-index: 999;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #a9a9a9;
  z-index: 999;
}

.multi-steps > li:before {
  content: counter(stepNum);
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: #20d59e;
    background: #20d59e;
    color: #fff;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #20d59e;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #20d59e;
  border-color: #20d59e;
  color: #fff;
}
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ffffff;
    border-color: #a9a9a9;
    color: #a9a9a9;
}

.milestone-price{
	margin-top: 20px;
}
.milestone-price h1{
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.heading{
	float: left;
}
.price{
	text-align: right;
}
.sub-heading{
	float: left;
}
.sub-price{
	text-align: right;
}
.total-price{
	padding: 10px 0;
}
.total-price h1{
	font-size: 12px;
	padding-bottom: 20px;
	color: #949494;
}
.form-btn{
	background-color: #20D59E;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	border: 0;
	border-radius: 5px;
}
.footer{
	background: #FAFAFA;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 3px 0px rgba(224,224,224,1);
    margin-bottom: 50px;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.footer h1{
	font-size: 22px;
	font-style: italic;
	line-height: 1.6em;
    text-align: center;
}
.footer p{
	font-size: 12px;
	color: #949494;
    text-align: center;
}
.footer img{
	display: block;
    text-align: center;
    margin: 0 auto;

}
.full-payment {
  color: #a5a5a5;
}
.incredible {
  font-size: 22px;
}
.sara {
  color: #a5a5a5;
  font-size: 13px;
}
.web-price {
  color: #a5a5a5;
  font-size: 17px;
}

@media only screen and (max-width: 1024px){
  .my-form small {
      font-size: 10px;
  }
  .my-form .in-line .input-group-text {
      padding: 4px;
      padding-right: 0px;
  }
  .my-form .in-line .form-control {
      font-size: 10px;
  }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
@media only screen and (max-width: 768px){
    .touch-bottom{ position: relative; }
    .touch-bottom { width: 100%; }
}